  {
    "import/parser": "babel-eslint",
    "extends": "airbnb",
    "rules": {
      "linebreak-style": ["error", "windows"],
      "jsx-a11y/no-static-element-interactions": 0
    },
    "globals": { "fetch": false }
  }
