<div ng-controller="DrinkController"  >
    <div class="flexcontainer" >
        <div class="drinks">
            <h2 class="header">Drinks</h2>
            <div class="list">
            <div class="drinkview {{selectedDrink==drink ? 'selected' : 'notselected'}}" ng-repeat="drink in drinks" ng-style="{'background-image':'url(./img/drinks/'+drink.image+')'}" ng-click="selectDrink(drink)">
                <h2><span>{{drink.name}}</span><i class="icon fa fa-check-square-o right"></i></h2>
                <div class="ingredients">
                    <p ng-repeat="part in drink.recipe">
                        {{part.ingredient.name}}
                    </p>
                </div>
            </div>
            <div class="drinkview {{selectedDrink==drink ? 'selected' : 'notselected'}}" ng-repeat="drink in missingDrinks" ng-style="{'background-image':'url(./img/drinks/'+drink.image+')'}" ng-click="selectDrink(drink)">
                <h2><span>{{drink.name}}</span><i class="icon fa fa-square-o right"></i></h2>
                <div class="ingredients">
                    <p ng-repeat="part in drink.recipe">
                        {{part.ingredient.pump == null?'x':''}} {{part.ingredient.name}}
                    </p>
                </div>
            </div>
            </div>
        </div>
        <div class="drinkdetails">
            <h2 class="header"> {{selectedDrink != undefined ? selectedDrink.name : "Drink details"}} </h2>
            <div class="ingredients">

                <div class="ingredientglass" >
                    <h3>Ratio</h3>
                    <div ng-repeat="part in selectedDrink.recipe" class="ingredientpart" ng-style="getGlassCss(part)"></div>
                </div>
                <div class="ingredientstatus">
                    <h3>Ingredients</h3>
                    <p ng-style="getIngredientCss(part)" ng-repeat="part in selectedDrink.recipe"><span>
                        <i ng-if="part.ingredient.pump != null" class=" fa fa-check-square-o "></i>
                        <i ng-if="part.ingredient.pump == null" class=" fa fa-square-o "></i> {{part.ingredient.name}}</span></p>
                </div>
            </div>
            <div class="drinknotes">
                <h3>Notes</h3>
                <p><pre>{{getCurrentDrinkNotes()}}</pre></p>
            </div>
        </div>
        <div class="sizeselect">
            <div ng-repeat="size in drinkSizes" ng-click="selectSize(size)" class="sizebtn {{selectedSize==size ? 'selected' : ''}} {{selectedDrink.maxsize<size.id ? 'disabled' : ''}}">{{size.name}}</div>
        </div>
        <div ng-click="createDrink()" class="make {{selectedDrink ? '' : 'noselection'}}">
            <div class="progress" ng-style="getProgressCss()"></div>
            <h3>Make</h3>
        </div>

    </div>
</div>
