<div ng-controller="DrinkController"  >
    <div class="horizontalFlexcontainer fullHeight" >
        <div class="drinks">
            <h2 class="title">Drinks</h2>
            <div class="list horizontalFlexcontainer">
                <div class="drinkview {{selectedDrink==drink ? 'selected' : 'notselected'}}" ng-repeat="drink in drinks" ng-style="{'background-image':'url(./img/drinks/'+drink.image+')'}" ng-click="selectDrink(drink)" scroll-to="drinkdetails">
                    <h2><i class="icon fa fa-check-square-o right"></i><span>{{drink.name}}</span></h2>
                    <div class="ingredients">
                        <p ng-repeat="part in drink.recipe">
                            {{part.ingredient.name}}
                        </p>
                    </div>
                </div>
                <div class="drinkview {{selectedDrink==drink ? 'selected' : 'notselected'}}" ng-repeat="drink in missingDrinks" ng-style="{'background-image':'url(./img/drinks/'+drink.image+')'}" ng-click="selectDrink(drink)" scroll-to="drinkdetails">
                    <h2><i class="icon fa fa-square-o right"></i><span>{{drink.name}}</span></h2>
                    <div class="ingredients">
                        <p ng-repeat="part in drink.recipe">
                            {{part.ingredient.pump == null?'x':''}} {{part.ingredient.name}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="verticalFlexcontainer rightCol">
            <div id="drinkdetails" class="drinkdetails">
                <h2 class="title"> {{selectedDrink != undefined ? selectedDrink.name : "Drink details"}} </h2>
                <div class="horizontalFlexcontainer ingredients">

                    <div class="ingredientglass" >
                        <h3>Ratio</h3>
                        <div ng-repeat="part in selectedDrink.recipeparts" class="ingredientpart" ng-style="getGlassCss(part)"></div>
                    </div>
                    <div class="ingredientdetails">
                        <div class="ingredientstatus">
                            <h3>Ingredients</h3>
                            <p ng-style="getIngredientCss(part)" ng-repeat="part in selectedDrink.recipeparts"><span>
                                <i ng-if="part.ingredient.PumpId != null" class=" fa fa-check-square-o "></i>
                                <i ng-if="part.ingredient.PumpId == null" class=" fa fa-square-o "></i> {{part.ingredient.name}}</span></p>
                        </div>
                        <div class="drinknotes">
                            <h3>Notes</h3>
                            <p>{{getCurrentDrinkNotes()}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-include src="'views/partial/make.html'">
            </div>
        </div>

    </div>
</div>
