<div ng-controller="DrinkController"  >
    <div class="horizontalFlexcontainer fullHeight" >
        <div class="drinks">
            <h2 class="title">Drinks</h2>
            <div class="list horizontalFlexcontainer">
                <div ng-repeat="drink in drinks" ng-include src="'views/partial/drinkview.html'" ng-click="selectDrink(drink)"></div>
            </div>
        </div>
        <div class="verticalFlexcontainer rightCol">
            <div id="drinkdetails" class="drinkdetails">
                <h2 class="title"> {{drinkService.selectedDrink != undefined ? drinkService.selectedDrink.name : "Drink details"}} </h2>
                <div class="horizontalFlexcontainer ingredients">
                    <div class="glasscontainer">
                        <h3>Ratio</h3>
                        <div class="ingredientglass" >
                            <div ng-repeat="part in drinkService.selectedDrink.recipeparts" class="ingredientpart" ng-style="drinkService.getGlassCss(part)"></div>
                        </div>
                    </div>
                    <div class="ingredientdetails">
                        <div class="ingredientstatus">
                            <h3>Ingredients</h3>
                            <p ng-style="drinkService.getIngredientCss(part)" ng-repeat="part in drinkService.selectedDrink.recipeparts"><span>
                                <i ng-if="part.ingredient.PumpId != null" class=" fa fa-check-square-o "></i>
                                <i ng-if="part.ingredient.PumpId == null" class=" fa fa-square-o "></i> {{part.ingredient.name}}</span></p>
                        </div>
                        <div class="drinknotes">
                            <h3>Notes</h3>
                            <p>{{getCurrentDrinkNotes()}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-include src="'views/partial/make.html'">
            </div>
        </div>

    </div>
</div>
