<div id="Setup" ng-controller="IngredientController">
    <h2>Pumps</h2>
    <div id="edit_pumps" ng-controller="PumpController">
        <td><a class="btn" ng-click="addPump()">+</a></td>
        <td><a class="btn" ng-click="deletePump()">-</a></td>
        <td><a class="btn" ng-click="fillAllPumps()">Fill all pipes</a></td>
        <table id="pump-list">
            <tr ng-repeat="pump in pumps">
                <td>Pump {{pump.id+1}}</td>
                <td><input type="number" ng-model="pump.tubeLength" ng-change="updatePump(pump)"></td>
                <td>
                    <select ng-model="pump.ingredient" ng-options="ingredient._id as ingredient.name for ingredient in ingredients" ng-change="updatePump(pump)" >
                        <option value="">-- choose ingredient --</option>
                    </select>
                </td>
                <td><a class="btn" ng-click="fillPump(pump)">Fill tube</a></td>
            </tr>
        </table>
    </div>
    <h2>Ingredients</h2>
    <div>
        <table id="ingredient-list">
            <tr ng-repeat="ingredient in ingredients">
                <td><input type="color" ng-model="ingredient.color" ng-change="updateIngredient(ingredient)"/></td>
                <td><input ng-model="ingredient.name" ng-change="updateIngredient(ingredient)"/></td>
            </tr>
        </table>
        <form id="ingredient-form" ng-submit="addIngredient()">
            <input type="color" placeholder="Color" ng-model="newIngredient.color" autofocus="">
            <input placeholder="Name" ng-model="newIngredient.name" autofocus="">
            <button>Add</button>
        </form>
    </div>
</div>