<div id="Setup" ng-controller="IngredientController" class="horizontalFlexcontainer">

    <div id="edit_pumps" ng-controller="PumpController">

        <div class="horizontalFlexcontainer flex-start">
            <h2>Pumps</h2>
            <div class="button symbol" ng-click="addPump()">+</div>
            <div class="button symbol" ng-click="deletePump()">-</div>
        </div>
        <table id="pump-list" class="table">
            <thead>
            <td>Pump

            </td>
            <td>Ingredient</td>
            <!--<td>Filltime</td>-->
            <!--<td><a class="btn" ng-click="fillAllPumps()">Fill all pipes</a></td>-->
            <td><div class="button {{isMajorityOff()?'':'selected'}}" ng-click="toggleAllPumps()">{{isMajorityOff()?'Start all':'Stop all'}}</div></td>
            </thead>
            <tr ng-repeat="pump in pumps">
                <td>{{pump.id}}</td>
                <td>
                    <select ng-model="pump.ingredient.id" ng-options="ingredient.id as ingredient.name for ingredient in ingredients" ng-change="updatePump(pump)" >
                        <option value="">-- choose ingredient --</option>
                    </select>
                </td>
                <!--<td><input type="number" ng-model="pump.tubeLength" ng-change="updatePump(pump)"></td>-->
                <!--<td><a class="btn" ng-click="fillPump(pump)">Fill tube</a></td>-->
                <td><div class="button {{pumpstate[pump.id]?'selected':''}}" ng-click="togglePump(pump)">{{pumpstate[pump.id]?'Stop':'Start'}}</div></td>
            </tr>
        </table>
    </div>
    <div id="editIngredients">
        <h2>Ingredients</h2>
        <table id="ingredient-list" class="table">
            <thead>
                <td>Ingredient</td>
                <td>Color</td>
            </thead>
            <tr ng-repeat="ingredient in ingredients">
                <td><input ng-model="ingredient.name" ng-change="updateIngredient(ingredient)"/></td>
                <td><input type="color" ng-model="ingredient.color" ng-change="updateIngredient(ingredient)"/></td>
            </tr>
        </table>
        <form id="ingredient-form" ng-submit="addIngredient()">
            <input placeholder="Name" ng-model-options="{debounce: {default: 1000, blur: 0}}" ng-model="newIngredient.name" autofocus="">
            <input type="color" placeholder="Color" ng-model-options="{debounce: {default: 1000, blur: 0}}" ng-model="newIngredient.color" autofocus="">
            <button>Add</button>
        </form>
    </div>
</div>