/* line 78, sass/_mixins.scss */
::-webkit-scrollbar {
  width: 5px;
  /* for vertical scrollbars */
}

/* line 83, sass/_mixins.scss */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

/* line 88, sass/_mixins.scss */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

/* line 2, sass/_reset.scss */
h1, h2, h3, h4, h5, p, body {
  margin: 0px;
  color: white;
}

/* line 10, sass/_reset.scss */
::-webkit-scrollbar {
  width: 5px;
  /* for vertical scrollbars */
}

/* line 15, sass/_reset.scss */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

/* line 20, sass/_reset.scss */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

@keyframes expand {
  /* line 2, sass/_animations.scss */
  from {
    width: 0%;
  }

  /* line 3, sass/_animations.scss */
  to {
    width: 100%;
  }
}

@-webkit-keyframes expand {
  /* line 6, sass/_animations.scss */
  from {
    width: 0%;
  }

  /* line 7, sass/_animations.scss */
  to {
    width: 100%;
  }
}

/* line 6, sass/style.scss */
html {
  background: url(/img/bouvet.jpg) no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.2);
  scrollbar-face-color: rgba(0, 0, 0, 0.2);
  scrollbar-arrow-color: rgba(0, 0, 0, 0.1);
  scrollbar-track-color: rgba(0, 0, 0, 0.1);
  scrollbar-shadow-color: rgba(0, 0, 0, 0.2);
  scrollbar-highlight-color: rgba(0, 0, 0, 0.2);
  scrollbar-3dlight-color: rgba(0, 0, 0, 0.2);
  scrollbar-darkshadow-Color: rgba(0, 0, 0, 0.2);
}

/* line 13, sass/style.scss */
header {
  height: 10vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex-direction: column;
  -moz-box-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
}
/* line 18, sass/style.scss */
header a {
  text-decoration: none;
}
/* line 21, sass/style.scss */
header h1 {
  color: red;
  font-size: 8vh;
}
/* line 25, sass/style.scss */
header p {
  font-size: 2em;
}
/* line 29, sass/style.scss */
header #navigationMenu {
  position: absolute;
  text-align: center;
  width: 10%;
  top: 3vh;
  right: 0em;
}
/* line 36, sass/style.scss */
header #navigationMenu #navigationChoices {
  position: relative;
  display: none;
  text-align: left;
  list-style: none;
}
/* line 41, sass/style.scss */
header #navigationMenu #navigationChoices li {
  font: bold 12px/18px sans-serif;
  margin-bottom: 0.5em;
  color: white;
  width: 5em;
  height: 3em;
  line-height: 3em;
  border-radius: 12px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  background-color: black;
}
/* line 49, sass/_mixins.scss */
header #navigationMenu #navigationChoices li.selected {
  background-color: rgba(255, 0, 0, 0.7);
}
/* line 52, sass/_mixins.scss */
header #navigationMenu #navigationChoices li.disabled {
  background-color: gray;
}
/* line 47, sass/style.scss */
header #navigationMenu #navigationChoices li a:link, header #navigationMenu #navigationChoices li a:visited, header #navigationMenu #navigationChoices li a:hover, header #navigationMenu #navigationChoices li a:active {
  color: white;
}

/* line 56, sass/style.scss */
.unavalable {
  background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 5px, rgba(255, 255, 255, 0.1) 5px, rgba(255, 255, 255, 0.1) 10px);
}

/* line 65, sass/style.scss */
form {
  width: 80%;
}
/* line 67, sass/style.scss */
form label {
  display: block;
}
/* line 70, sass/style.scss */
form input, form select, form textarea {
  vertical-align: baseline;
  width: 80%;
}

/* line 76, sass/style.scss */
.horizontalFlexcontainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex-wrap: wrap;
  -moz-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
}
/* line 83, sass/style.scss */
.horizontalFlexcontainer.flex-start {
  justify-content: flex-start;
}

/* line 88, sass/style.scss */
.verticalFlexcontainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex-direction: column;
  -moz-box-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex-wrap: wrap;
  -moz-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
}

/* line 96, sass/style.scss */
.fullHeight {
  height: 90vh;
}

/* line 100, sass/style.scss */
.left {
  float: left;
}

/* line 103, sass/style.scss */
.right {
  float: right;
}

/* line 107, sass/style.scss */
.title {
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 3em;
  margin: 0;
}

/* line 115, sass/style.scss */
.icon {
  margin-top: 0.12em;
}

/* line 118, sass/style.scss */
.drinks {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}
@media (min-width: 480px) {
  /* line 118, sass/style.scss */
  .drinks {
    width: 40%;
  }
}
@media (min-width: 1024px) {
  /* line 118, sass/style.scss */
  .drinks {
    width: 50%;
  }
}
/* line 131, sass/style.scss */
.drinks .list {
  align-items: flex-start;
  width: 100%;
  height: calc(100% - 3.6em);
  /*Probably not the best solution but it works*/
  overflow-y: auto;
}
/* line 138, sass/style.scss */
.drinks .list .drinkview {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 150px;
  height: 150px;
  margin: 1em 0 1em 0;
}
/* line 148, sass/style.scss */
.drinks .list .drinkview.selected h2 {
  background-color: rgba(255, 0, 0, 0.7);
}
/* line 153, sass/style.scss */
.drinks .list .drinkview h2 {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 5px 5px 0 0;
  padding: 0 8px 0 8px;
}
/* line 160, sass/style.scss */
.drinks .list .drinkview .ingredients {
  display: none;
}
@media (min-width: 480px) {
  /* line 138, sass/style.scss */
  .drinks .list .drinkview {
    width: 180px;
    height: 180px;
  }
}
@media (min-width: 1024px) {
  /* line 138, sass/style.scss */
  .drinks .list .drinkview {
    width: 230px;
    height: 230px;
  }
}

/* line 175, sass/style.scss */
.rightCol {
  width: 100%;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.4);
}
@media (min-width: 480px) {
  /* line 175, sass/style.scss */
  .rightCol {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  /* line 175, sass/style.scss */
  .rightCol {
    width: 50%;
  }
}

/* line 188, sass/style.scss */
.drinkdetails {
  width: 100%;
}
/* line 190, sass/style.scss */
.drinkdetails h3 {
  text-decoration: underline;
  margin-bottom: 5px;
}
/* line 195, sass/style.scss */
.drinkdetails .ingredients {
  align-items: flex-start;
  margin: 25px 25px 25px 25px;
}
/* line 199, sass/style.scss */
.drinkdetails .ingredients .ingredientdetails {
  width: 80%;
}
/* line 202, sass/style.scss */
.drinkdetails .ingredients .ingredientdetails .ingredientstatus p {
  font-size: 1.5em;
}
/* line 209, sass/style.scss */
.drinkdetails .ingredients .ingredientdetails .drinknotes {
  margin: 1.5em 0 0 0;
}
/* line 211, sass/style.scss */
.drinkdetails .ingredients .ingredientdetails .drinknotes p {
  white-space: pre-line;
  margin: 0;
  font-size: 1em;
}

/* line 220, sass/style.scss */
.glasscontainer {
  width: 10%;
}
/* line 222, sass/style.scss */
.glasscontainer .ingredientglass {
  height: 250px;
}

/* line 227, sass/style.scss */
.button {
  border-radius: 12px;
  vertical-align: middle;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 1.5em;
  min-width: 100px;
  height: 40px;
  line-height: 40px;
}
/* line 238, sass/style.scss */
.button.small {
  margin-left: 10px;
  height: 30px;
  min-width: 30px;
  line-height: 30px;
  font-size: 2em;
}
/* line 246, sass/style.scss */
.button.large {
  height: 100px;
  line-height: 100px;
  font-size: 2em;
  margin: 10px;
}
/* line 253, sass/style.scss */
.button.selected {
  background-color: rgba(255, 0, 0, 0.7);
}
/* line 256, sass/style.scss */
.button:active {
  background-color: rgba(255, 0, 0, 0.7);
}
/* line 259, sass/style.scss */
.button.disabled {
  background-color: gray;
}
/* line 263, sass/style.scss */
.button.make {
  position: relative;
  width: 80%;
  height: 100px;
  line-height: 100px;
  font-size: 3em;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
/* line 273, sass/style.scss */
.button.make h3 {
  position: relative;
}
/* line 277, sass/style.scss */
.button.make .progress {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 0, 0, 0.7);
  height: 100%;
  width: 0%;
}
/* line 286, sass/style.scss */
.button.make:active {
  background-color: rgba(0, 0, 0, 0.4);
}

/* line 292, sass/style.scss */
.sizeselect {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex-wrap: wrap;
  -moz-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}

/* line 302, sass/style.scss */
.table {
  border-top: 1px solid #e5eff8;
  border-right: 1px solid #e5eff8;
  margin: 25px;
  border-collapse: collapse;
}
/* line 307, sass/style.scss */
.table td {
  border-bottom: 1px solid #e5eff8;
  border-left: 1px solid #e5eff8;
  padding: .3em 1em;
  text-align: center;
}

/* line 315, sass/style.scss */
.shortCol {
  width: 3em;
}
