.drink_detail {

  &__thumbnail img {
    margin: 20px;
    width: 300px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__ingredients{
    display: flex;
    flex-wrap: wrap;
    h3 {
      padding-left: 3%;
      width: 100%;
    }
    .ingredientglass {
      display: inline-block;
      height: 370px;
      width: 200px;
      margin-left: 3%;
      -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
      clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    }

    .ingredient_overview {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 75%;
      height: 370px;
      overflow-y: auto;
    }
  }
  &__messages {
    .notes {
      background-color: lightblue;
      margin: 21px 40px;
      padding: 6px 20px;
      border-radius: 20px;
      border: 2px solid black;
    }
    .warning {
      background-color: rgba(255, 0, 0, 1);
      margin: 21px 40px;
      padding: 6px 20px;
      border-radius: 20px;
      border: 2px solid black;
      ul {
        margin: 0;
        li {
          margin: 0;
        }
      }
    }
  }
}
