@import 'drink_detail';
@import 'drink_thumb';
@import 'ingredient_thumb';
@import 'slide_panel';

@font-face {
  font-family: 'FontAwesome';
  src: url('../resources/fonts/fontawesome-webfont.eot?v=4.6.1');
  src: url('../resources/fonts/fontawesome-webfont.eot?#iefix&v=4.6.1') format('embedded-opentype'), url('../resources/fonts/fontawesome-webfont.woff2?v=4.6.1') format('woff2'), url('../resources/fonts/fontawesome-webfont.woff?v=4.6.1') format('woff'), url('../resources/fonts/fontawesome-webfont.ttf?v=4.6.1') format('truetype');
  src: url('../resources/fonts/fontawesome-webfont.eot?#iefix&v=4.6.1') format('embedded-opentype'), url('../resources/fonts/fontawesome-webfont.woff2?v=4.6.1') format('woff2'), url('../resources/fonts/fontawesome-webfont.woff?v=4.6.1') format('woff'), url('../resources/fonts/fontawesome-webfont.ttf?v=4.6.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: "Arial Black";
  padding: 0;
  margin: 0;
  overflow: hidden;
  user-select: none;

  background-color: #cccccc;
}

h1 {
  text-align: center;
  @media screen and (min-width: 1020px) {
    margin-top: 0;
  }
}

.settings {
  position: absolute;
  top: 0;
  right: 0;
}

.absolute-fill {
  position: absolute;
  overflow: hidden;
  top: 5%;
  right: 0;
  bottom: 0;
  left: 0;
}

.flex_container {
  position: absolute;
  display: flex;
  overflow-y: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 10%;
  -webkit-transition: width .6s ease-in;
  transition: width .6s ease-in;
}

.btn {
  background-color: darkGrey;
  text-align: center;
  padding: 15px 50px;
  border-radius: 40px;
  display: inline-block;
  &.center {
    position: absolute;
    left: 25%;
    right: 25%;
  }
  &.bottom {
    bottom: 5px;
  }
}
