<div class="drinkview {{drinkService.selectedDrink==drink ? 'selected' : 'notselected'}}" back-img="{{drink.image}}">
    <h2>
        <i class="icon fa fa-check-square-o right" ng-if="drink.missingIngredients == 0"></i>
        <i class="icon fa fa-square-o right" ng-if="drink.missingIngredients != 0"></i>
        <span>{{drink.name}}</span></h2>
    <div class="ingredients">
        <p ng-repeat="part in drink.recipe">
            {{part.ingredient.pump == null?'x':''}} {{part.ingredient.name}}
        </p>
    </div>
</div>