
h1, h2, h3, h4, h5, p, body {
    margin: 0px;
    color: white;
}

::-webkit-scrollbar
{
  width: 5px;  /* for vertical scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.2);
}

pre{
    white-space: pre-wrap;
}