@import 'mixins';
@import 'reset';
@import 'variables';
@import 'animations';

html {
    background: url(/img/bouvet.jpg) no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    @include scrollbar();
}

header {
    @include flexbox();
    @include flex-direction(column);
    align-items: center;
    margin: 25px;
    h1 {
        color: red;
        font-size: 5em;
    }
    p {
        font-size: 2em;
    }
}

.flexcontainer {
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(wrap);
    justify-content: space-around;
    margin:0px;
}

.left {
    float: left;
}
.right {
    float: right;
}

.header{
        text-align: center;
        width: 100%;
        background-color: $transparent-black;
        color: white;
        font-size: 3em;
        margin: 0px;
}
.icon {
    margin-top: 3px;
}
.drinks {
    background-color: $transparent-black;


    width: 100%;

    @media (min-width : 480px) {
        width:40%;
    }
    @media (min-width : 1024px) {
        width:50%;
    }
    .list {
         @include flexbox();
         @include flex-direction(row);
         @include flex-wrap(wrap);
         justify-content: space-around;
         align-items: flex-start;
         width: 100%;
         max-height: 600px;
         overflow-y: auto;

        .drinkview{
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 5px;
            width: 150px;
            height: 150px;
            margin: 25px 0px 25px 0px;

            &.selected {
                h2 {
                    background-color: $transparent-orange;
                }
            }

            h2 {
                background-color: $transparent-black;
                color: white;
                border-radius: 5px 5px 0 0;
                padding: 0 8px 0 8px;
            }

            .ingredients {
                display: none;
            }

            @media (min-width : 480px) {
                width: 180px;
                height: 180px;
            }
            @media (min-width : 1024px) {
                width: 230px;
                height: 230px;
            }
        }
    }
}
.drinkdetails {
    width: 100%;
    background-color: $transparent-black;

    h3 {
        text-decoration: underline;
        margin-bottom: 5px;
    }

    .ingredients{
        @include flexbox();
        @include flex-direction(row);
        @include flex-wrap(wrap);
        justify-content: space-around;
        align-items: flex-start;
        margin: 25px 25px 25px 25px;

        .ingredientglass {
            width: 20%;
            height: 250px;
            .ingredientpart {
                width: 80%;
            }
        }
        .ingredientstatus {
            width: 80%;
            p {
                font-size: 1.5em;
                span {

                }
            }
        }
    }
    .drinknotes {
        margin: 50px 25px 25px 25px;
    }
    @media (min-width : 480px) {
        width:60%;
    }

    @media (min-width : 1024px) {
      width:50%;
    }
}

.sizeselect {
     @include flexbox();
     @include flex-direction(row);
     @include flex-wrap(wrap);
     justify-content: space-around;
     align-items: flex-start;
     width: 100%;

     .sizebtn {
        width: 100px;
        height: 100px;
        line-height: 100px;
        margin: 10px;
        font-size: 2em;
        border-radius: 12px;
        vertical-align: middle;
        text-align: center;
        background-color: $transparent-black;

        &.selected {
            background-color: $transparent-orange;
        }
        &.disabled {
            background-color: gray;
        }
     }
}

.make {
    position: relative;
    width: 50%;
    height: 100px;
    line-height: 100px;
    margin: 10px;
    font-size: 3em;
    border-radius: 12px;
    vertical-align: middle;
    text-align: center;
    background-color: $transparent-black;
    overflow: hidden;

    h3 {
        position: relative;
    }

    .progress {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $transparent-orange;
        height: 100%;
        width: 0%;

    }
}

.table {
    border-top:1px solid #e5eff8;
    border-right:1px solid #e5eff8;
    margin:25px;
    border-collapse:collapse;
    td {
        border-bottom:1px solid #e5eff8;
        border-left:1px solid #e5eff8;
        padding:.3em 1em;
        text-align:center;
    }
}