{
    "extends": "airbnb",
    "env": {
        "browser": true,
        "jest": true
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "webpack.config.js"
            }
        }
    }
}